*{
 font-family: Sans;
}
body{
  margin: 0;
  padding: 0;
}
.appSection{
  width: 100%;
  height: 100vh;
  text-align: center;
  /*background: #555;*/
  overflow: hidden;
  position: fixed;
}
#startPlaygroundBtn, #hitButton{
  width: 200px;
  height: 200px;
}
#hitButton{
  border-radius: 50%;
  border: none;
}
#hitButton:focus {
  outline:0 !important;
}

.goodAnimate{
	animation-name: goodKeyframes;
	animation-duration: .2s;
}
@keyframes goodKeyframes {
	100% {background-color: #555;}
	50% {background-color: #090;}
  100% {background-color: #555;}
}

.badAnimate{
	animation-name: badKeyframes;
	animation-duration: .2s;
}
@keyframes badKeyframes {
	100% {background-color: #555;}
	50% {background-color: #900;}
  100% {background-color: #555;}
}