body {
	background: #0f0; 
	background-image: url("../img/fondoPresentador.png");
	padding: 0; 
	margin: 0; 
	text-align: center;
	overflow: hidden;
   	background-color: #cccccc;
}

canvas {
	margin-top: 596px;
	margin-right: 160px;
}

#imagen {
	width: 1920px;
	height: 1080px;
	display: none;
}