html, body{
	background-color: #fff;
}

#thanksContainer{
	position: absolute;
	top: calc(50% - 184px);
}
.thanksReturnBtn{
	width:200px !important;
	margin: 0 auto;
}

.thanksReturnBtnH1{
	padding-top: 24px !important;
}