<!doctype html>
<html lang="en" ng-app="StarterApp">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="Gustavo Fuentes colombian Graphic Designer portfoil">
		<meta name="theme-color" content="#000">
		<title>Gus Fuentes - UX Designer</title>
		<link rel = "shortcut icon" type = "image/x-icon" href = "img/favicon.ico" />
		<link href="css/styles.css" rel="stylesheet" type="text/css" />
		<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/0.8.3/angular-material.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js"></script>
		<script type="text/javascript" src="js/fontsRequests.js"></script>
		<script type="text/javascript" src="js/jquery-1.9.0.min.js"></script>
		<script type="text/javascript" src="js/jquery.fancybox.js?v=2.1.4"></script>
		<link rel="stylesheet" type="text/css" href="js/jquery.fancybox.css?v=2.1.4" media="screen" />
		<script src="js/fancyBoxGallery.js"></script>
	</head>
	<body layout="row" ng-controller="AppCtrl">

		<script type="text/ng-template" id="pages/home.html">
		    <div class="parallax">
				<div id="group1" class="parallax__group">
					<div class="parallax__layer parallax__layer--base" go-click="about">
						<div id="aboutTitle" class="title wf-loading">About</div>
					</div>
					<div class="parallax__layer parallax__layer--back"></div>
				</div>

				<div id="group2" class="parallax__group" go-click="works">
					<div class="parallax__layer parallax__layer--base">
						<div id="worksTitle" class="title wf-loading">Works</div>
					</div>
					<div class="parallax__layer parallax__layer--back"></div>
				</div>

				<div id="group3" class="parallax__group" go-click="videogames">
					<div class="parallax__layer parallax__layer--fore">
						<div id="gamesTitle" class="title wf-loading">Games</div>
					</div>
					<div class="parallax__layer parallax__layer--base"></div>
				</div>

				<div id="group4" class="parallax__group" go-click="experiments">
					<div class="parallax__layer parallax__layer--base">
						<div id="sandboxTitle" class="title wf-loading">Sandbox</div>
					</div>
					<div class="parallax__layer parallax__layer--back"></div>
					<div class="parallax__layer parallax__layer--deep">
						<div id="stage">
							<img class="spinner" src="img/image.svg" style="width:100%; "></img>
							<img class="spinner spinnerDegrees" src="img/image.svg" style="width:100%; "></img>
						</div>
					</div>
				</div>

				<div id="group5" class="parallax__group" go-click="mixedmedia">
					<div class="parallax__layer parallax__layer--fore">
						<div id="artsTitle" class="title wf-loading">Arts</div>
					</div>
					<div class="parallax__layer parallax__layer--base"></div>
				</div>
			</div>
	    </script>

	    <script type="text/ng-template" id="pages/about.html">
	    	<md-content flex>
		      	<section class="innerSectionInfo">
			      	<h1 class="innerSectionTitle wf-loading">About</h1>
			      	<div class="block"></div>

			      	<p class="innerSectionP firstInnerSectionP wf-loading">
			      		Passionate about digital media, the visual feasts and the good music. Always seeking for the latest and better tools for my workflows, I use my research and programming skills to build clever strategies and practices.
					</p>
					<br />
					<p class="innerSectionP wf-loading">
						In that way I escalated my proffession as Graphic Designer to web develoment, videogame design and UI - UX production environments.
					</p>
					<br />
					<p class="innerSectionP wf-loading">
						My current objectives are to consolidate as one of the better digital designers in Latin América, keep knowing amazing people to work, and discover new landscapes all over the world.
					</p>
					<br />
					<p class="innerSectionP wf-loading">	
						I'm located in my hometown Bogotá, Colombia.
					</p>
					<br />

					<h1 class="innerSectionTitle wf-loading">Skills</h1>
					<div class="block"></div>
					<div layout="row" layout-md="column" layout-sm="column" layout-xs="column" layout-align="center center">
						<div layout="row" layout-sm="column" layout-xs="column">
							<div class="skillGroup">
								<h2 class="innerSectionSubtitle wf-loading">Programs:</h2>
								<div class="skillContainer" layout="row" layout-align="start center">
									<img class="skillIcon" src="img/aiIcon.jpg"></img>
									<div class="skillText"><p> Illustrator </p></div>
									<div class="skillBar">
										<div id="skill01"></div>
									</div>
								</div>

								<div class="skillContainer" layout="row" layout-align="start center">
									<img class="skillIcon" src="img/psIcon.jpg"></img>
									<div class="skillText"><p> Photoshop </p></div>
									<div class="skillBar">
										<div id="skill02"></div>
									</div>
								</div>

								<div class="skillContainer" layout="row" layout-align="start center">
									<img class="skillIcon" src="img/aeIcon.jpg"></img>
									<div class="skillText"><p> After Effects </p></div>
									<div class="skillBar">
										<div id="skill03"></div>
									</div>
								</div>

								<div class="skillContainer" layout="row" layout-align="start center">
									<img class="skillIcon" src="img/aanIcon.jpg"></img>
									<div class="skillText"><p> Animate (Flash) </p></div>
									<div class="skillBar">
										<div id="skill04"></div>
									</div>
								</div>

								<div class="skillContainer" layout="row" layout-align="start center">
									<img class="skillIcon" src="img/balIcon.jpg"></img>
									<div class="skillText"><p> Balsamiq </p></div>
									<div class="skillBar">
										<div id="skill05"></div>
									</div>
								</div>

								<div class="skillContainer" layout="row" layout-align="start center">
									<img class="skillIcon" src="img/stIcon.jpg"></img>
									<div class="skillText"><p> Sublime Text </p></div>
									<div class="skillBar">
										<div id="skill06"></div>
									</div>
								</div>
							</div>

							<br />

							<div class="skillGroup">
								<h2 class="innerSectionSubtitle wf-loading">Frameworks:</h2>
								<div class="skillContainer" layout="row" layout-align="start center">
									<img class="skillIcon" src="img/anLogo.jpg"></img>
									<div class="skillText"><p> Angular </p></div>
									<div class="skillBar">
										<div id="skill07"></div>
									</div>
								</div>

								<div class="skillContainer" layout="row" layout-align="start center">
									<img class="skillIcon" src="img/cjsIcon.jpg"></img>
									<div class="skillText"><p> Create JS </p></div>
									<div class="skillBar">
										<div id="skill08"></div>
									</div>
								</div>

								<div class="skillContainer" layout="row" layout-align="start center">
									<img class="skillIcon" src="img/reactIcon.jpg"></img>
									<div class="skillText"><p> React </p></div>
									<div class="skillBar">
										<div id="skill09"></div>
									</div>
								</div>

								<div class="skillContainer" layout="row" layout-align="start center">
									<img class="skillIcon" src="img/wfIcon.jpg"></img>
									<div class="skillText"><p> Web Font Loader </p></div>
									<div class="skillBar">
										<div id="skill10"></div>
									</div>
								</div>

								<div class="skillContainer" layout="row" layout-align="start center">
									<img class="skillIcon" src="img/pjs.jpg"></img>
									<div class="skillText"><p> Paper JS </p></div>
									<div class="skillBar">
										<div id="skill11"></div>
									</div>
								</div>

								<div class="skillContainer" layout="row" layout-align="start center">
									<img class="skillIcon" src="img/jquery.jpg"></img>
									<div class="skillText"><p> JQuery </p></div>
									<div class="skillBar">
										<div id="skill12"></div>
									</div>
								</div>
							</div>
						</div>

						<br />

						<div class="skillGroup">
							<h2 class="innerSectionSubtitle wf-loading">Concepts:</h2>
							<div class="skillContainer" layout="row" layout-align="start center">
								<img class="skillIcon" src="img/con1.jpg"></img>
								<div class="skillText"><p> Composition </p></div>
								<div class="skillBar">
									<div id="skill13"></div>
								</div>
							</div>

							<div class="skillContainer" layout="row" layout-align="start center">
								<img class="skillIcon" src="img/con2.jpg"></img>
								<div class="skillText"><p> Color Management </p></div>
								<div class="skillBar">
									<div id="skill14"></div>
								</div>
							</div>

							<div class="skillContainer" layout="row" layout-align="start center">
								<img class="skillIcon" src="img/con3.jpg"></img>
								<div class="skillText"><p> Graphic synthesis </p></div>
								<div class="skillBar">
									<div id="skill15"></div>
								</div>
							</div>

							<div class="skillContainer" layout="row" layout-align="start center">
								<img class="skillIcon" src="img/con4.jpg"></img>
								<div class="skillText"><p> Animation </p></div>
								<div class="skillBar">
									<div id="skill16"></div>
								</div>
							</div>

							<div class="skillContainer" layout="row" layout-align="start center">
								<img class="skillIcon" src="img/con5.jpg"></img>
								<div class="skillText"><p> Clean code </p></div>
								<div class="skillBar">
									<div id="skill17"></div>
								</div>
							</div>

							<div class="skillContainer" layout="row" layout-align="start center">
								<img class="skillIcon" src="img/mat.jpg"></img>
								<div class="skillText"><p> Material Design </p></div>
								<div class="skillBar">
									<div id="skill18"></div>
								</div>
							</div>
						</div>
					</div>
					<br />
					<h1 class="innerSectionTitle wf-loading">Academics</h1>
			      	<div class="block"></div>
			      	<h2 class="innerSectionSubtitle wf-loading">
			      		Universidad Nacional de Colombia
			      	</h2>
			      	<p class="innerSectionP wf-loading">			      		
			      		Professional Graphic Designer
			      		<br />
			      		June 2010
					</p>
					<br />
					<h2 class="innerSectionSubtitle wf-loading">
			      		Academia Nikola Tesla
			      	</h2>
			      	<p class="innerSectionP wf-loading">			      		
			      		Basic Electronics
			      		<br />
			      		January 2015
					</p>
					<br />
					<h2 class="innerSectionSubtitle wf-loading">
			      		SENA
			      	</h2>
			      	<p class="innerSectionP wf-loading">			      		
			      		Advanced Adobe Dreamweaver
			      		<br />
			      		March 2011
					</p>
		      	</section>
	      	</md-content>
	    </script>

	    <script type="text/ng-template" id="pages/works.html">
	      	<md-content flex>
		      	<section class="innerSectionInfo">
			      	<h1 class="innerSectionTitle wf-loading">Works</h1>
			      	<div class="block"></div>

			      	<p class="innerSectionP firstInnerSectionP wf-loading">
			      		Throughout my career I have had the opportunity to work for big clients like banking corporations and state organizations. I have also been part of innovations and start-ups.
					</p>

					<br />

					<h1 class="innerSectionTitle wf-loading">SABIOS APPS</h1>
			      	<div class="block"></div>

			      	<div class = "galleryThumbs">
						<div id="imagen">
							<div class="fancybox" href="img/works/sabios_admin.png" data-fancybox-group="gallery" title="School Admin home"><img class="redonda" src="img/works/sabios_icon_thumb.png" alt="School Admin home" /></div>
						</div>

						<div id="imagen">
							<div class="fancybox" href="img/works/sabios_planner.png" data-fancybox-group="gallery" title="Annual Planner for Teachers"><img class="redonda" src="img/works/sabios_planner_thumb.png" alt="Annual Planner App" /></div>
						</div>

						<div id="imagen">
							<div class="fancybox" href="img/works/sabios_theme.png" data-fancybox-group="gallery" title="Mobile Sabios theme config"><img class="redonda" src="img/works/sabios_theme_thumb.png" alt="Mobile Sabios theme config" /></div>
						</div>

						<div id="imagen">
							<div class="fancybox" href="img/works/sabios_park.jpg" data-fancybox-group="gallery" title="Sabios Park App"><img class="redonda" src="img/works/sabios_park_thumb.png" alt="Sabios Park App" /></div>
						</div>
					</div>

					<br />      	

			      	<p class="innerSectionP firstInnerSectionP wf-loading">
			      		This platform brings together more than 14 applications for planning, management, assessment, games, forums, notifications and calendars among other essentials needs on educational institutions of Colombia.
			      	</p>

			      	<br />

			      	<p class="innerSectionP wf-loading">
						Under the roles of administrator, teacher, student, parent and developer, it gives all members of the scholar community a valuable technological tool in learning environments.
					</p>

					<br />

					<h2 class="innerSectionSubtitle wf-loading">Info</h2>

					<p class="innerSectionPwf-loading">
						<b>Customer:</b> Editorial Libros y Libros.
						<br />
						<b>Number of users:</b> 130.000+ Countrywide.
						<br />
						<b>Platforms:</b> Web, Android, IOS
						<br />
						<b>Link:</b> <a href="https://sabiosapp.librosylibros.co" target="_blank">sabiosapp.librosylibros.co </a>
					</p>

					<br />

					<a href="https://play.google.com/store/apps/details?id=co.librosylibros.sabios" target="_blank">
						<img src="img/works/get_google_play.png" >
					</a>

					<a href="https://itunes.apple.com/es/app/sabios/id1087025664?mt=8" target="_blank">
						<img src="img/works/get_appstore.png" >
					</a>

					<br /><br />

					<h2 class="innerSectionSubtitle wf-loading">Responsibilities</h2>
					
					<p class="innerSectionP wf-loading">
						 Corporate identity revival, mockups, UI / UX, presentations and support to the client, tasks coordination with the development team, tailored components creation for different use cases, iconography and user manual design.
					</p>

					<br />

					<p class="innerSectionP wf-loading">
						This is the before and after of the branding:						
					</p>

					<br />

					<div id="logoTransform">
			      		<img id="sabios_old" src="img/works/sabios_old.jpg">
			      		<img id="sabios_new" src="img/works/sabios_new.png">
			      	</div>

			      	<br />

					<p class="innerSectionP wf-loading">
						For the development of these tasks we used the AngularJS framework with Material Design. Jade and Less for layout and styling. Spritesheets were created with Flash CC and animated with Easel Js. The mockups and iconography were made with Adobe Illustrator CC.
					</p>

					<br />

					<h1 class="innerSectionTitle wf-loading">Innovation</h1>
			      	<div class="block"></div>

			      	<div class = "galleryThumbs">
						<div id="imagen">
							<div class="fancybox" href="img/works/bti_banner.jpg" data-fancybox-group="btiGallery" title="Innovaton Event Banner"><img class="redonda" src="img/works/bti_banner_thumb.png" alt="Innovaton Event Banner" /></div>
						</div>

						<div id="imagen">
							<div class="fancybox" href="img/works/bti_compensar.jpg" data-fancybox-group="btiGallery" title="Cajas Compensar Art 01"><img class="redonda" src="img/works/bti_compensar_thumb.png" alt="Cajas Compensar Art 01" /></div>
						</div>

						<div id="imagen">
							<div class="fancybox" href="img/works/bti_compensar2.jpg" data-fancybox-group="btiGallery" title="Cajas Compensar Art 02"><img class="redonda" src="img/works/bti_compensar_thumb2.png" alt="Cajas Compensar Art 02" /></div>
						</div>

						<div id="imagen">
							<div class="fancybox" href="img/works/bti_map.jpg" data-fancybox-group="btiGallery" title="Innovation flux"><img class="redonda" src="img/works/bti_map_thumb.png" alt="Innovation flux" /></div>
						</div>

						<div id="imagen">
							<div class="fancybox" href="img/works/bti_chancho1.png" data-fancybox-group="btiGallery" title="Shop App Concept"><img class="redonda" src="img/works/cutThumb.png" alt="Shop App Concept" /></div>
						</div>

						<div id="imagen">
							<div class="fancybox" href="img/works/bti_mockup.jpg" data-fancybox-group="btiGallery" title="Flash Functional Mockup"><img class="redonda" src="img/works/mockThumb.png" alt="Flash Functional Mockup" /></div>
						</div>

						<div id="imagen">
							<div class="fancybox" href="img/works/ecomorfosis.jpg" data-fancybox-group="btiGallery" title="Ecomorfosis logo"><img class="redonda" src="img/works/ecomorfosis_thumb.png" alt="Ecomorfosis logo" /></div>
						</div>
					</div>

					<br />

			      	<p class="innerSectionP firstInnerSectionP wf-loading">
			      		On Brain Tank Innovation I made the design and digital animation tasks for commercial and product development areas of the company as the design and production of pitch videos for the startups like the shown below:. 
			      	</p>

			      	<div class="centered">
			      		<iframe class="videoIframe" src="https://player.vimeo.com/video/95417065" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
			      	</div>

			      	<p class="innerSectionP wf-loading">
			      		Also, the programming and consulting of the frontend apps like yonohagofila, functional mockups for innovations in organizations such as Compensar, Bancolombia and Suppla.
			      	</p>

			      	<div class="centered">
			      		<iframe class="videoIframe" src="https://www.youtube.com/embed/jR2yJwO7x3w" frameborder="0" allowfullscreen></iframe>
			      	</div>			      	

					<br />

					<p class="innerSectionP wf-loading">
			      		You can see more of my professional projects in the <span class="inlineButton" ng-click="closeSidenav('left')" go-click="videogames">Games</span> Section.
			      	</p>  	

			    </section>
			</md-content>
	    </script>

	    <script type="text/ng-template" id="pages/videogames.html">
	    	<md-content flex>
		      	<section class="innerSectionInfo">
			      	<h1 class="innerSectionTitle">Games</h1>
			      	<div class="block"></div>
			      	<h2 class="innerSectionSubtitle wf-loading">Videos and images of this section are under construction!</h2>
			      	<p class="innerSectionP wf-loading">
			      		As an interactive designer, I've always find the videogames as a powerful narrative environment where almost everything can happen and emotions in time can be prepared for the authors. 
			      	</p>

			      	<br />

			      	<p class="innerSectionP wf-loading">
			      		Fortunately, I have worked in various projects of this kind. I have started with e-learning courses elaborated in flash circa 2010. That help me to obtain a job as Game Designer for the facebook videogames of the colombian editor Norma for their Dogs and Kiut brands. 
					</p>

					<br />

					<p class="innerSectionP wf-loading">
			      		Later, I get involved with javascript allowing me to be the Game Designer  of six HTML 5 games for Libros y Libros editor on his learning platform.
			      	</p>

			      	<br />

			      	<p class="innerSectionP wf-loading">
						The most important thing to me is to support a solid gameplay with a creative concept and strong characters. That's what it makes it fun.
					</p>

		      	</section>
		    </md-content>
	    </script>

	    <script type="text/ng-template" id="pages/experiments.html">
		    <md-content id="sandbox" flex>
			    <section class="innerSectionInfo">
			      	<h1 class="innerSectionTitle">Sandbox</h1>
			      	<div class="block"></div>		      	
		      	</section>
		      	<div class="penContainer">
			      	<p> This is the classic binary tree exercise implemented with random color aerial perspective</p>
			      	<br />	
			      	<p data-height="800" data-theme-id="light" data-slug-hash="ALLyyd" data-default-tab="result" data-user="Guxthav" data-embed-version="2" class="codepen">See the Pen <a href="https://codepen.io/Guxthav/pen/ALLyyd/">Fractal Tree Pure Canvas</a> by Gustavo Fuentes (<a href="https://codepen.io/Guxthav">@Guxthav</a>) on <a href="https://codepen.io">CodePen</a>.</p>
			      	
			      	<br />
			      	<p> This is the classic binary tree exercise implemented with a SVG exportation trough the PaperJs library.</p>
			      	<br />

			      	<p data-height="800" data-theme-id="light" data-slug-hash="WwKQpN" data-default-tab="result" data-user="Guxthav" data-embed-version="2" data-pen-title="Fractal Tree Paper Js SVG export" class="codepen">See the Pen <a href="http://codepen.io/Guxthav/pen/WwKQpN/">Fractal Tree Paper Js SVG export</a> by Gustavo Fuentes (<a href="http://codepen.io/Guxthav">@Guxthav</a>) on <a href="http://codepen.io">CodePen</a>.</p>
					
			      	<br />
			      	<p> A random mountain generator to test aerial perspective.</p>
			      	<br />

					<p data-height="800" data-theme-id="light" data-slug-hash="jqKVbX" data-default-tab="result" data-user="Guxthav" data-embed-version="2" data-pen-title="Random Mountains" class="codepen">See the Pen <a href="http://codepen.io/Guxthav/pen/jqKVbX/">Random Mountains</a> by Gustavo Fuentes (<a href="http://codepen.io/Guxthav">@Guxthav</a>) on <a href="http://codepen.io">CodePen</a>.
					</p>

					<br />
			      	<p> PaperJs animated symbols background.</p>
			      	<br />

					<p data-height="800" data-theme-id="light" data-slug-hash="mPLeyY" data-default-tab="result" data-user="Guxthav" data-embed-version="2" data-pen-title="Paper Js stress Test" class="codepen">See the Pen <a href="http://codepen.io/Guxthav/pen/mPLeyY/">Paper Js stress Test</a> by Gustavo Fuentes (<a href="http://codepen.io/Guxthav">@Guxthav</a>) on <a href="http://codepen.io">CodePen</a>.</p>

					<!-- <script async src="http://assets.codepen.io/assets/embed/ei.js"></script> -->
					<script async src="https://production-assets.codepen.io/assets/embed/ei.js"></script>
				</div>

	      	</md-content>
	    </scrfipt>

	    <script type="text/ng-template" id="pages/mixedmedia.html">
	      	<md-content id="arts" flex>
	      		<section class="innerSectionInfo toLeft">
			      	<h1 class="innerSectionTitle">Arts</h1>
			      	<div class="block"></div>
			      	<p class="innerSectionP">These are the graphic pieces that I do in my spare time, Please note the electronics section, I'm so proud of those lamps!</p>
			      	<br />		
			      	<h2 class="innerSectionSubtitle wf-loading">Illustration</h2>
		      	</section>		      	
		      	
		      	<div class = "galleryThumbs">		      			      		
		      		<div id="imagen">
						<div class="fancybox" href="img/illustration/gorila.png" data-fancybox-group="gallery" title=""><img class="redonda" src="img/illustration/gorilados.png" alt="" /></div>
					</div>

					<div id="imagen">
						<div class="fancybox" href="img/illustration/credits.png" data-fancybox-group="gallery" title=""><img class="redonda" src="img/illustration/creditsdos.png" alt="" /></div>
					</div>

		      		<div id="imagen">
						<div class="fancybox" href="img/illustration/rostro.jpg" data-fancybox-group="gallery" title=""><img class="redonda" src="img/illustration/rostrodos.jpg" alt="" /></div>
					</div>

					<div id="imagen">
						<div class="fancybox" href="img/illustration/nimph.png" data-fancybox-group="gallery" title=""><img class="redonda" src="img/illustration/nimphdos.jpg" alt="" /></div>
					</div>

					<div id="imagen">
						<div class="fancybox" href="img/illustration/wich.jpg" data-fancybox-group="gallery" title=""><img class="redonda" src="img/illustration/wich.png" alt="" /></div>
					</div>

					<div id="imagen">
						<div class="fancybox" href="img/illustration/rana.png" data-fancybox-group="gallery" title=""><img class="redonda" src="img/illustration/ranados.png" alt="" /></div>
					</div>

					<div id="imagen">
						<div class="fancybox" href="img/illustration/corpse.png" data-fancybox-group="gallery" title=""><img class="redonda" src="img/illustration/corpsedos.png" alt="" /></div>
					</div>

					<div id="imagen">
						<div class="fancybox" href="img/illustration/altura.png" data-fancybox-group="gallery" title=""><img class="redonda" src="img/illustration/alturados.png" alt="" /></div>
					</div>

					<div id="imagen">
						<div class="fancybox" href="img/illustration/sub0.jpg" data-fancybox-group="gallery" title=""><img class="redonda" src="img/illustration/sub0.png" alt="" /></div>
					</div>

					<div id="imagen">
						<div class="fancybox" href="img/illustration/kurt.png" data-fancybox-group="gallery" title=""><img class="redonda" src="img/illustration/kurtdos.png" alt="" /></div>
					</div>

					<div id="imagen">
						<div class="fancybox" href="img/illustration/dardo.png" data-fancybox-group="gallery" title=""><img class="redonda" src="img/illustration/dardodos.png" alt="" /></div>
					</div>

					<div id="imagen">
						<div class="fancybox" href="img/illustration/mariposa.png" data-fancybox-group="gallery" title=""><img class="redonda" src="img/illustration/mariposados.png" alt="" /></div>
					</div>

					<div id="imagen">
						<div class="fancybox" href="img/illustration/back.png" data-fancybox-group="gallery" title=""><img class="redonda" src="img/illustration/backdos.png" alt="" /></div>
					</div>

					<div id="imagen">
						<div class="fancybox" href="img/illustration/heart.png" data-fancybox-group="gallery" title=""><img class="redonda" src="img/illustration/heartdos.png" alt="" /></div>
					</div>

					<div id="imagen">
						<div class="fancybox" href="img/illustration/chango.jpg" data-fancybox-group="gallery" title=""><img class="redonda" src="img/illustration/changodos.png" alt="" /></div>
					</div>

					<div id="imagen">
						<div class="fancybox" href="img/illustration/enemies.png" data-fancybox-group="gallery" title=""><img class="redonda" src="img/illustration/enemy.png" alt="" /></div>
					</div>

		      		<div id="imagen">
						<div class="fancybox" href="img/illustration/natura.jpg" data-fancybox-group="gallery" title=""><img class="redonda" src="img/illustration/natura_thumb.jpg" alt="" /></div>
					</div>

					<div id="imagen">
						<div class="fancybox" href="img/illustration/joystick.jpg" data-fancybox-group="gallery" title=""><img class="redonda" src="img/illustration/joystick_thumb.jpg" alt="" /></div>
					</div>

					<div id="imagen">
						<div class="fancybox" href="img/illustration/payaso.jpg" data-fancybox-group="gallery" title=""><img class="redonda" src="img/illustration/payaso_thumb.jpg" alt="" /></div>
					</div>
				</div>

				<br />
				<section class="innerSectionInfo toLeft">	
			      	<h2 class="innerSectionSubtitle wf-loading">Photography</h2>			
		      	</section>
				
				<div class = "galleryThumbs">					
					<div id="imagen">
						<div class="fancybox" href="img/img05.jpg" data-fancybox-group="gallery" title=""><img class="redonda" src="img/photography/gallo_thumb.jpg" alt="" /></div>
					</div>					

					<div id="imagen">
						<div class="fancybox" href="img/photography/bug.jpg" data-fancybox-group="gallery" title=""><img class="redonda" src="img/photography/bugdos.png" alt="" /></div>
					</div>

					<div id="imagen">
						<div class="fancybox" href="img/photography/lejano.jpg" data-fancybox-group="gallery" title=""><img class="redonda" src="img/photography/lejanodos.png" alt="" /></div>
					</div>

					<div id="imagen">
						<div class="fancybox" href="img/photography/mural.png" data-fancybox-group="gallery" title=""><img class="redonda" src="img/photography/muraldos.png" alt="" /></div>
					</div>

					<div id="imagen">
						<div class="fancybox" href="img/photography/acacia.png" data-fancybox-group="gallery" title=""><img class="redonda" src="img/photography/acaciados.png" alt="" /></div>
					</div>					

					<div id="imagen">
						<div class="fancybox" href="img/photography/caballo.jpg" data-fancybox-group="gallery" title=""><img class="redonda" src="img/photography/caballodos.png" alt="" /></div>
					</div>

					<div id="imagen">
						<div class="fancybox" href="img/photography/oruga.jpg" data-fancybox-group="gallery" title=""><img class="redonda" src="img/photography/orugados.png" alt="" /></div>
					</div>

					<div id="imagen">
						<div class="fancybox" href="img/photography/campanas.jpg" data-fancybox-group="gallery" title=""><img class="redonda" src="img/photography/campanasdos.png" alt="" /></div>
					</div>

					<div id="imagen">
						<div class="fancybox" href="img/photography/siecha.jpg" data-fancybox-group="gallery" title=""><img class="redonda" src="img/photography/siechados.png" alt="" /></div>
					</div>					

					<div id="imagen">
						<div class="fancybox" href="img/photography/grilloverde.png" data-fancybox-group="gallery" title=""><img class="redonda" src="img/photography/grilloverdedos.png" alt="" /></div>
					</div>

					<div id="imagen">
						<div class="fancybox" href="img/photography/hongo.png" data-fancybox-group="gallery" title=""><img class="redonda" src="img/photography/hongodos.png" alt="" /></div>
					</div>

					<div id="imagen">
						<div class="fancybox" href="img/photography/musgo.png" data-fancybox-group="gallery" title=""><img class="redonda" src="img/photography/musgodos.png" alt="" /></div>
					</div>

					<div id="imagen">
						<div class="fancybox" href="img/photography/riel.jpg" data-fancybox-group="gallery" title=""><img class="redonda" src="img/photography/rieldos.png" alt="" /></div>
					</div>					

					<div id="imagen">
						<div class="fancybox" href="img/photography/jardin.png" data-fancybox-group="gallery" title=""><img class="redonda" src="img/photography/jardindos.png" alt="" /></div>
					</div>

					<div id="imagen">
						<div class="fancybox" href="img/photography/caminante.jpg" data-fancybox-group="gallery" title=""><img class="redonda" src="img/photography/caminantedos.png" alt="" /></div>
					</div>

					<div id="imagen">
						<div class="fancybox" href="img/photography/laguna.jpg" data-fancybox-group="gallery" title=""><img class="redonda" src="img/photography/lagunados.png" alt="" /></div>
					</div>

					<div id="imagen">
						<div class="fancybox" href="img/photography/descalzo.png" data-fancybox-group="gallery" title=""><img class="redonda" src="img/photography/descalzodos.png" alt="" /></div>
					</div>					
				</div>

				<br />
				<section class="innerSectionInfo toLeft">	
			      	<h2 class="innerSectionSubtitle wf-loading">Electronics</h2>			
		      	</section>

				<div class = "galleryThumbs">
					<div id="imagen">
						<div class="fancybox" href="img/electronics/hungerGames.jpg" data-fancybox-group="gallery" title="Hunger Games"><img class="redonda" src="img/electronics/hungerGames_thumb.jpg" alt="" /></div>
					</div>

					<div id="imagen">
						<div class="fancybox" href="img/electronics/yinYang.jpg" data-fancybox-group="gallery" title="Yin Yang"><img class="redonda" src="img/electronics/yinYang_thumb.jpg" alt="" /></div>
					</div>

					<div id="imagen">
						<div class="fancybox" href="img/electronics/darkSide.jpg" data-fancybox-group="gallery" title="Dark Side"><img class="redonda" src="img/electronics/darkSide_thumb.jpg" alt="" /></div>
					</div>

					<div id="imagen">
						<div class="fancybox" href="img/electronics/leon.jpg" data-fancybox-group="gallery" title="leon"><img class="redonda" src="img/electronics/leon_thumb.jpg" alt="" /></div>
					</div>

					<div id="imagen">
						<div class="fancybox" href="img/electronics/angel.jpg" data-fancybox-group="gallery" title="Angel"><img class="redonda" src="img/electronics/angel_thumb.jpg" alt="" /></div>
					</div>

					<div id="imagen">
						<div class="fancybox" href="img/electronics/batman.jpg" data-fancybox-group="gallery" title="Batman"><img class="redonda" src="img/electronics/batman_thumb.jpg" alt="" /></div>
					</div>

				</div>
			</md-content>		
	    </script>

		<md-sidenav layout="column" class="md-sidenav-left md-whiteframe-z2" md-component-id="left">
			<div class="sidenavContainer" layout="column" layout-align="center center">
				<button class="sidenavButton" go-click="about" ng-click="toggleSidenav('left')">
					<div>
						<h1 class="wf-loading">About</h1>
						<h1 class="wf-loading">About</h1>
					</div>
				</button>
				<button class="sidenavButton" go-click="works" ng-click="toggleSidenav('left')">
					<div>
						<h1 class="wf-loading">Works</h1>
						<h1 class="wf-loading">Works</h1>
					</div>
				</button>
				<button class="sidenavButton" go-click="videogames" ng-click="toggleSidenav('left')">
					<div>
						<h1 class="wf-loading">Games</h1>
						<h1 class="wf-loading">Games</h1>
					</div>
				</button>
				<button class="sidenavButton" go-click="experiments" ng-click="toggleSidenav('left')">
					<div>
						<h1 class="wf-loading">Sandbox</h1>
						<h1 class="wf-loading">Sandbox</h1>
					</div>
				</button>
				<button class="sidenavButton" go-click="mixedmedia" ng-click="toggleSidenav('left')">
					<div>
						<h1 class="wf-loading">Arts</h1>
						<h1 class="wf-loading">Arts</h1>
					</div>
				</button>
			</div>
		</md-sidenav>

		<div layout="column" class="relative" layout-fill role="main">
			<md-button class="md-fab md-fab-bottom-right md-primary md-hue-1 md-raised" aria-label="Add" ng-click="showAdd($event)">
				<img id="inkIcon" src="img/ink.svg"></img>
			</md-button>

			<md-toolbar>
				<div class="md-toolbar-tools"  layout-align="space-between center">
					<button id="menuBtn" class="c-hamburger c-hamburger--htx" ng-click="toggleSidenav('left')">
					  <span>toggle menu</span>
					</button>
					<img id="myLogo" src="img/logo.svg" go-click="/" ng-click="closeSidenav('left')"></img>

					<div id="toolbarBtnsContainer">
						<span class="wf-loading toolbarBtn" go-click="about">About</span>
						<span class="wf-loading toolbarBtn" go-click="works">Works</span>
						<span class="wf-loading toolbarBtn" go-click="videogames">Games</span>
						<span class="wf-loading toolbarBtn" go-click="experiments">Sandbox</span>
						<span class="wf-loading toolbarBtn" go-click="mixedmedia">Arts</span>
					</div>			
				</div>
			</md-toolbar>

			<div id="contentContainer" ng-view layout="column" flex></div>

		</div>

		<!-- Angular Material Dependencies -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.14/angular.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.7/angular-route.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.14/angular-animate.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.14/angular-aria.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.0.5/angular-material.js"></script>
		<script src="https://cdn.jsdelivr.net/angular-material-icons/0.4.0/angular-material-icons.min.js"></script>

		<!-- Gus Codes -->
		<script type="text/javascript" src="js/demo.js"></script>
		<script type="text/javascript" src="js/misc.js"></script>
	</body>
</html>

